body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#status {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #333;
}

#nextFreeInfo {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
    text-align: center;
    display: block;
    font-weight: bold;
}

#date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
    color: #666;
    text-align: right;
}